@import "common.css";
@import "reset.css";
/* 首页通用样式 */
a{
    color: #37a;
}
a:hover{
    color: #fff;
    background: #37a;
}
a:active{
    color: #fff;   
    background: #f93;
}
body{
    line-height: 2;
}
ul,li{
    word-break: break-all;
}
.adv-tag::after{
    content: "广告";
    color: #c9c9c9;
    font-size: 12px;
}
.container{
    margin: 0 auto;
    width: 950px;
}
.section{
    padding: 35px 0;
}
.section:nth-child(even){
    background-color: #f7f7f7;
}
.aside-left{
    float: left;
    width: 100px;
    margin-right: 20px;
}
.aside-right{
    float: right;
    width: 265px;
}
.main{
    /* 创建bfc */
    overflow: hidden;
}
.section-title{
    margin: 12px 0;
}
.section-title > .title{
    display: inline;
    color: #072;
    font-size: 15px;
}
.section-title > .title::after{
    content: " · · · · · ·";
}
.section-title > .link{
    font-size: 12px;
}
.section-title > .link::before{
    content: "(";
}
.section-title > .link::after{
    content: ")";
}
.section-title a:hover{
    background: #27a;
}
.aside-left .title{
    font-size: 24px;
}
.dark-color{
    color: #494949;
}
/* 头部样式 */
.header{
    height: 60px;
    padding-top: 30px;
    /* box-sizing: border-box; */
}
.header > .container{
    width: 1080px; 
}
/* .header .logo,
.header .search,
.header .nav{
    height: 34px;
    border: 2px solid;
} */
.header .logo a{
    display: block;
    background: url(../img/logo_db.png) no-repeat top left/100%;
    width: 154px;
    height: 30px;
    cursor: pointer;
}
.header .logo a span {
    display: none;
}
.header .search{
    border: 1px solid #c3c3c3;
    width: 270px;
    height: 30px;
    margin-left: 20px;
    position: relative;
    line-height: normal;
}
.header .search .txt{
    width: 240px;
    height: 20px;
    padding: 5px;
    font-size: 13px;
}
.header .search .txt::placeholder{
    color: #ccc;
}
.header .search button{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    color: #c3c3c3;
}
.header .nav{
    margin-top: 6px;
}
.header .nav a{
    background: url("../img/nav_logo.png") no-repeat left top/463px 20px;
    width: 40px;
    height: 20px;
    float: left;
    margin-left: 20px;
}
.header .nav .menu-book{
    background-position: 0 0;
}
.header .nav .menu-movie{
    background-position: -60px 0;
}
.header .nav .menu-music{
    background-position: -120px 0;
}
.header .nav .menu-city{
    background-position: -300px 0;
}
.header .nav .menu-group{
    background-position: -180px 0;
}
.header .nav .menu-read{
    background: url("../img/nav_read.png") no-repeat top left/100% 100%;
}
.header .nav .menu-fm{
    background-position: -240px 0;
}
.header .nav .menu-time{
    background: url("../img/nav_time.png") no-repeat top left/100% 100% ;
}
.header .nav .menu-goods{
    background-position: -420px 0;
    width: 43px;
}

/* 横幅 */
.banner{
    height: 304px;
    background: url("../img/banner-bg.jpg") no-repeat calc(50% - 305px) top/auto 100% #edf4ed;
}
.banner .container .login-area{
    width: 300px;
    height: 300px;
}
.banner .container .slogan{
    margin-top: 88px;
    margin-right: 30px;
}
.banner .container .slogan .title{
    color: #111;
    font-size: 25px;
}
.banner .container .slogan .title span{
    margin-left: 10px;
}
.banner .container .slogan .download .btn{
    margin-top: 20px;
    font-size: 12px;
    padding: 9px 21px;
    background: #00B51D;
    line-height: 1;
    border-radius: 2px;
}
.banner .container .slogan .download .qrcode{
    display: inline-block;
    width: 28px;
    height: 28px;
    border: 1px solid #48aa0d;
    border-radius: 2px;
    vertical-align: bottom;
    position: relative;
}
.banner .container .slogan .download .qrcode:hover .qrcode-img{
    display: block;
}
.banner .container .slogan .download .qrcode img{
    width: 100%;
    height: 100%;
}
.banner .container .slogan .download .qrcode .qrcode-img {
    position: absolute;
    left: -2px;
    top: -2px;
    width: 200px;
    padding: 17px;
    box-sizing: border-box;
    background: #fff;
    border-radius: 4px;
}
.banner .container .slogan .download .qrcode .qrcode-img > p{
    font-size: 13px;
    color: #666;
    text-align: center;
}
/* 热门区 */
.section .container .aside-right .hot-list{
    line-height: 1.5;
}
.section .container .aside-right .hot-list > li {
    margin-bottom: 15px;
}
.section .container .aside-right .hot-list > li > .title{
    font-size: 14px;
} 
.section .container .aside-right .hot-list > li > .desc{
    font-size: 13px;
    color: #aaa;
}
.section .container .aside-right .hot-list > li > .desc span{
    margin-right: 3px;
}
.section .container .main .hot-main .float-left{
    width: 350px;
}
.section .container .main .hot-main .float-left ul{
    text-align: justify;
    line-height: 1.5;
}
.section .container .main .hot-main .float-left ul::after{
    content: "";
    display: inline-block;
    width: 100%;
}
.section .container .main .hot-main .float-left li{
    display: inline-block;
    width: 170px;
    font-size: 12px;
    margin: 10px 0;
    vertical-align: top;
}
.section .container .main .hot-main .float-left li .img img{
    width: 100%;
    display: block;/* 设置display为block可以去除img下面的白边，为什么？ */
}
.section .container .main .hot-main .float-left li .words span{
    color: #999;
}
.section .container .main .hot-main .float-right{
    overflow: hidden;
    width: 275px;
    font-size: 12px;
    margin-right: 30px;
}
.section .container .main .hot-main .float-right li{
    margin-bottom: 12px;
}
.section .container .main .hot-main .float-right li .title{
    color: #999;
}
.section .container .main .hot-main .float-right li .desc{
    color: #666;
}
/* 豆瓣时间 */
.time-main li{
    display: inline-block;
    width: 100px;
    margin: 0 60px 30px 0;
    line-height: 1.5;
    font-size: 13px;
    text-align: center;
}
.time-main li .img img{
    width:100%;
}
.time-main li .words a{
    color: #333;
}
.time-main li .words a:hover{
    color: #fff;
}
.time-main li .words span{
    display: block;
    color: #999;
    font-size: 12px;
}