@import "common.css";
@import "reset.css";

/* 登陆统一样式 */
a {
    color: #41ac52;
}
input[type="text"],
input[type="password"]{
    width: 100%;
    border: 1px solid #e4e6e5;
    box-sizing: border-box;
    height: 34px;
    padding-left: 10px;
    border-radius: 4px;
    font-size: 13px;
}
input[type="text"].more-text-indent{
    padding-left: 60px;
}


/* 登陆样式 */
.container {
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    line-height: 2;
    padding: 30px 10px 10px;
    color: #9b9b9b;
    position: relative;
}
.container .login .switch-menu{
    border-bottom: 1px solid #ececec;
    font-size: 13px;
}
.container .login .switch-menu span{
    width: 50%;
    text-align: center;
    cursor: pointer;
}
.container .login .switch-menu span.selected{
    font-weight: bold;
    color: #333;
    border-bottom: 1px solid #494949;
    margin-bottom: -1px;
}
.container .login .form .form-item {
    margin: 10px 0;
    position: relative;
    font-size: 13px;
}
.container .login .form .form-item .txt{
    font-size: 12px;
}
.container .login .form .form-item .country-code{
    position: absolute;
    width: 51px;
    height: 26px;
    line-height: 26px;
    left: 0;
    top: 5px;
    text-align: center;
    color: #333;
    font-weight: bold;
    font-size: 15px;
    border-right: 1px solid #e4e6e5;
    cursor: pointer;
}
.container .login .form .form-item .country-code .choose-area{
    /* 铺满整个视口，背景为半透明 */
    position: fixed;
    width: 100%;
    height: 100%;
    background: #ffffff50;
    left: 0;
    top: 0;
    z-index: 1;
}
.container .login .form .form-item .country-code .choose-area .center{
    width: 285px;
    height: 225px;
    position: absolute;
    box-sizing: border-box;
    border: 1px solid #bbb;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #fff;
    border-radius: 5px;
    cursor: auto;
    overflow: hidden;
}
.container .login .form .form-item .country-code .choose-area .center .title{
    background: #ebf5eb;
    line-height: 22px;
    height: 22px;
    text-align: left;
    padding:10px;
    color: #060;
    font-weight: bold;
}
.container .login .form .form-item .country-code .choose-area .center ul{
    height: 180px;
    box-sizing: border-box;
    overflow: auto;
    padding: 10px;
}
.container .login .form .form-item .country-code .choose-area .center ul li{
    height: 38px;
    line-height: 38px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    margin-top: -1px;
    font-size: 14px;   
    cursor: pointer;
}
.container .login .form .form-item .country-code .choose-area .center ul li .float-right{
    color: #aaa;
    font-weight: normal;
}
.container .login .form .form-item .country-code .choose-area .center ul li:last-child{
    border-bottom: 1px solid #e5e5e5;   
}
.container .login .form .form-item .country-code .choose-area .center ul li.selected{
    color: #42bd56;
}
.container .login .form .form-item .country-code .choose-area .center ul li.selected .float-right{
    color: inherit;
}
.container .login .form .form-item .country-code .choose-area .center ul li.selected .iconfont{
    margin-left: 10px;
}
.container .login .form .form-item .ab-right{
    position: absolute;
    right: 7px;
    top: 5px;
}
.container .login .form .form-item .btn{
    width: 100%;
    height: 34px;
    font-size: 15px;
}
.container .login .form .form-item .btn:disabled{
    background:#41ac5250;
    cursor: not-allowed;
}
.container .login .form .form-item.tip{
    font-size: 12px;
    color: #333;
}
.container .login .bottom{
    border-top: .5px solid #ddd;
    width: 270px;
}
.container .login .bottom .msg{
    font-size: 11px;
    vertical-align: 2px;
}
.container .login .bottom .iconfont{
    margin-left: 12px;
}
.container .login .bottom .iconfont.iconweixin{
    color: #34950e;
}
.container .login .bottom .iconfont.iconweibo1{
    color: #ea5d5c;
}
.container .qrcode{
    font-size: 13px;
}
.container .qrcode .title{
    font-weight: bold;
    color: #333;
    text-align: left;border-bottom: 1px solid #ececec;
}
.container .qrcode .code{
    text-align: center;
    font-size: 0;
    margin: 20px 0 10px;
}
.container .qrcode .code img{
    width: 170px;

}
.container .qrcode .tip{
    width: 183px;
    height: 25px;
    line-height: 25px;
    background: #00000012;
    color: #494949;
    margin: 0 auto;
    text-align: center;
    border-radius: 20px;
}
.container .change{
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0;
    top: 0;
    margin-right: 10px;
    margin-top: 10px;
}
.container .change .icon{
    width: 30px;
    height: 30px;
    display: block;
    cursor: pointer;
}
.container .change .icon.icon-qrcode{
    background: url("../img/qr-code-icon.png") no-repeat left top/100% 100%;
}
.container .change .icon.icon-pc{
    background: url("../img/pc-icon.png") no-repeat left top/100% 100%;
}
.container .pointer{
    position: absolute;
    height: 28px;
    line-height: 28px;
    border: 1px solid rgba(66, 189, 86, .3);
    color: #666;
    font-size: 13px;
    background: #f5faf9;
    right: 50px;
    top: 10px;
    padding: 0 5px;
    border-radius: 4px;
}